## База данных 
За базу данных я взял первые 10 строк предложенной таблицы. Полученный dataframe я назвал df.

In [1]:
import pandas as pd
df = pd.read_csv('scores.csv')[:10]
#df = df.groupby(['true', 'score_knn']).sum()
df

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263
5     0      0.108506  -0.790864   0.000000    0.000000
6     0      0.413749  -0.185143   0.283053    0.363636
7     0      0.961081   0.830973   1.000000    1.000000
8     0      0.055733  -0.872805   0.000000    0.100000
9     0      0.168708  -0.518390   0.000000    0.100000

## 1. ABS

**Описание:** 

Возвращает абсолютную величину (модуль) заданного числа.

**Входные и выходные данные:**

На входе - число.

На выходе - модуль этого числа.

### Реализация:

In [2]:
def ABS(df, col = None):
    if col == None:
        return abs(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, ABS({col}) FROM data', conn)

 ### Тестирование:

In [3]:
ABS(df, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree  ABS(score_svm)
0      0     0      0.683832   0.145976   0.787063    0.500000        0.145976
1      1     1      0.801966   0.239511   1.000000    0.833333        0.239511
2      2     0      0.382315  -0.245701   0.000000    0.000000        0.245701
3      3     1      0.506797  -0.137058   0.000000    0.105263        0.137058
4      4     1      0.488781  -0.154148   0.000000    0.105263        0.154148
5      5     0      0.108506  -0.790864   0.000000    0.000000        0.790864
6      6     0      0.413749  -0.185143   0.283053    0.363636        0.185143
7      7     0      0.961081   0.830973   1.000000    1.000000        0.830973
8      8     0      0.055733  -0.872805   0.000000    0.100000        0.872805
9      9     0      0.168708  -0.518390   0.000000    0.100000        0.518390

In [4]:
ABS(-7)

7

In [5]:
ABS(0)

0

In [6]:
ABS(5)

5

## 2. ACOS

**Описание:** 

Возвращает арккосинус заданного числа.

**Входные и выходные данные:**

На входе - число.

На выходе - число (арккосинус этого числа).

### Реализация:

In [7]:
def ACOS(df, col = None):
    if col == None:
        import math
        if(-1 <= df and df <= 1):
            return math.acos(df)
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, ACOS({col}) FROM data', conn)

 ### Тестирование:

In [8]:
ACOS(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,ACOS(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.817794
1,1,1,0.801966,0.239511,1.000000,0.833333,0.640216
2,2,0,0.382315,-0.245701,0.000000,0.000000,1.178496
3,3,1,0.506797,-0.137058,0.000000,0.105263,1.039331
4,4,1,0.488781,-0.154148,0.000000,0.105263,1.060104
5,5,0,0.108506,-0.790864,0.000000,0.000000,1.462076
6,6,0,0.413749,-0.185143,0.283053,0.363636,1.144228
7,7,0,0.961081,0.830973,1.000000,1.000000,0.279907
8,8,0,0.055733,-0.872805,0.000000,0.100000,1.515035
9,9,0,0.168708,-0.518390,0.000000,0.100000,1.401277

In [9]:
ACOS(df.iloc[0]['score_logreg'])

0.8177941944092963

In [10]:
ACOS(df.iloc[7]['score_logreg'])

0.2799065641699773

In [11]:
ACOS(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,ACOS(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,1.424297
1,1,1,0.801966,0.239511,1.000000,0.833333,1.328934
2,2,0,0.382315,-0.245701,0.000000,0.000000,1.819039
3,3,1,0.506797,-0.137058,0.000000,0.105263,1.708288
4,4,1,0.488781,-0.154148,0.000000,0.105263,1.725562
5,5,0,0.108506,-0.790864,0.000000,0.000000,2.483016
6,6,0,0.413749,-0.185143,0.283053,0.363636,1.757013
7,7,0,0.961081,0.830973,1.000000,1.000000,0.589942
8,8,0,0.055733,-0.872805,0.000000,0.100000,2.631717
9,9,0,0.168708,-0.518390,0.000000,0.100000,2.115764

In [12]:
ACOS(df.iloc[2]['score_svm'])

1.8190387387739744

In [13]:
ACOS(df.iloc[9]['score_svm'])

2.1157639324552493

In [14]:
ACOS(1)

0.0

In [15]:
ACOS(-1)

3.141592653589793

In [16]:
ACOS(0)

1.5707963267948966

In [17]:
ACOS(0.5)

1.0471975511965976

In [18]:
ACOS(10)

nan

## 3. ASIN

**Описание:** 

Возвращает арксинус заданного числа.

**Входные и выходные данные:**

На входе - число.

На выходе - число (арксинус этого числа).

### Реализация:

In [19]:
def ASIN(df, col = None):
    if col == None:
        import math
        if(-1 <= df and df <= 1):
            return math.asin(df)
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, ASIN({col}) FROM data', conn)

 ### Тестирование:

In [20]:
ASIN(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,ASIN(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.753002
1,1,1,0.801966,0.239511,1.000000,0.833333,0.930580
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.392301
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.531465
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.510692
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.108720
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.426568
7,7,0,0.961081,0.830973,1.000000,1.000000,1.290890
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.055761
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.169519

In [21]:
ASIN(df.iloc[0]['score_logreg'])

0.7530021323856003

In [22]:
ASIN(df.iloc[7]['score_logreg'])

1.2908897626249194

In [23]:
ASIN(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,ASIN(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.146499
1,1,1,0.801966,0.239511,1.000000,0.833333,0.241863
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.248242
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.137491
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.154766
5,5,0,0.108506,-0.790864,0.000000,0.000000,-0.912219
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.186217
7,7,0,0.961081,0.830973,1.000000,1.000000,0.980855
8,8,0,0.055733,-0.872805,0.000000,0.100000,-1.060921
9,9,0,0.168708,-0.518390,0.000000,0.100000,-0.544968

In [24]:
ASIN(df.iloc[2]['score_svm'])

-0.2482424119790779

In [25]:
ASIN(df.iloc[9]['score_svm'])

-0.5449676056603527

In [26]:
ASIN(1)

1.5707963267948966

In [27]:
ASIN(0)

0.0

In [28]:
ASIN(-2)

nan

In [29]:
ASIN(-3 ** 0.5 / 2)

-1.0471975511965976

## 4. ATAN

**Описание:** 

Возвращает арктангенс заданного числа.

**Входные и выходные данные:**

На входе - число.

На выходе - число (арктангенс этого числа).

### Реализация:

In [30]:
def ATAN(df, col = None):
    if col == None:
        import math
        return math.atan(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, ATAN({col}) FROM data', conn)

 ### Тестирование:

In [31]:
ATAN(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,ATAN(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.599793
1,1,1,0.801966,0.239511,1.000000,0.833333,0.675939
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.365169
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.469070
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.454633
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.108083
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.392302
7,7,0,0.961081,0.830973,1.000000,1.000000,0.765555
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.055675
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.167134

In [32]:
ATAN(df.iloc[0]['score_logreg'])

0.5997925539802339

In [33]:
ATAN(df.iloc[7]['score_logreg'])

0.7655552139381493

In [34]:
ATAN(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,ATAN(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.144952
1,1,1,0.801966,0.239511,1.000000,0.833333,0.235083
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.240928
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.136210
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.152945
5,5,0,0.108506,-0.790864,0.000000,0.000000,-0.669145
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.183070
7,7,0,0.961081,0.830973,1.000000,1.000000,0.693344
8,8,0,0.055733,-0.872805,0.000000,0.100000,-0.717586
9,9,0,0.168708,-0.518390,0.000000,0.100000,-0.478251

In [35]:
ATAN(df.iloc[2]['score_svm'])

-0.24092812096529978

In [36]:
ATAN(df.iloc[9]['score_svm'])

-0.47825144613848314

In [37]:
ATAN(0)

0.0

In [38]:
ATAN(1)

0.7853981633974483

In [39]:
ATAN(-1 / 2)

-0.46364760900080615

In [40]:
ATAN(3 ** 0.5)

1.0471975511965979

## 5. ATAN2

**Описание:** 

Возвращает арктангенс заданной пары чисел.

**Входные и выходные данные:**

На входе - два числа.

На выходе - число (арктангенс частного двух чисел, с точностью до квадранта).

### Реализация:

In [41]:
def ATAN2(df, col1, col2 = None):
    if col2 == None:
        import math
        return math.atan2(df, col1)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, ATAN2({col1}, {col2}) FROM data', conn)

 ### Тестирование:

In [42]:
ATAN2(df, 'score_logreg', 'score_knn')

,index,true,score_logreg,score_svm,score_knn,score_tree,"ATAN2(score_logreg, score_knn)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.715331
1,1,1,0.801966,0.239511,1.000000,0.833333,0.675939
2,2,0,0.382315,-0.245701,0.000000,0.000000,1.570796
3,3,1,0.506797,-0.137058,0.000000,0.105263,1.570796
4,4,1,0.488781,-0.154148,0.000000,0.105263,1.570796
5,5,0,0.108506,-0.790864,0.000000,0.000000,1.570796
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.970810
7,7,0,0.961081,0.830973,1.000000,1.000000,0.765555
8,8,0,0.055733,-0.872805,0.000000,0.100000,1.570796
9,9,0,0.168708,-0.518390,0.000000,0.100000,1.570796

In [43]:
ATAN2(df.iloc[0]['score_logreg'], df.iloc[0]['score_knn'])

0.7153311412132989

In [44]:
ATAN2(df.iloc[7]['score_logreg'], df.iloc[7]['score_knn'])

0.7655552139381493

In [45]:
ATAN2(df, 'score_svm', 'true')

,index,true,score_logreg,score_svm,score_knn,score_tree,"ATAN2(score_svm, true)"
0,0,0,0.683832,0.145976,0.787063,0.500000,1.570796
1,1,1,0.801966,0.239511,1.000000,0.833333,0.235083
2,2,0,0.382315,-0.245701,0.000000,0.000000,-1.570796
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.136210
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.152945
5,5,0,0.108506,-0.790864,0.000000,0.000000,-1.570796
6,6,0,0.413749,-0.185143,0.283053,0.363636,-1.570796
7,7,0,0.961081,0.830973,1.000000,1.000000,1.570796
8,8,0,0.055733,-0.872805,0.000000,0.100000,-1.570796
9,9,0,0.168708,-0.518390,0.000000,0.100000,-1.570796

In [46]:
ATAN2(df.iloc[0]['score_svm'], df.iloc[0]['true'])

1.5707963267948966

In [47]:
ATAN2(df.iloc[2]['score_svm'], df.iloc[2]['true'])

-1.5707963267948966

In [48]:
ATAN2(df.iloc[1]['score_svm'], df.iloc[1]['true'])

0.23508290433009332

In [49]:
ATAN2(df, 'score_svm', 10)

,index,true,score_logreg,score_svm,score_knn,score_tree,"ATAN2(score_svm, 10)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.014597
1,1,1,0.801966,0.239511,1.000000,0.833333,0.023947
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.024565
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.013705
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.015414
5,5,0,0.108506,-0.790864,0.000000,0.000000,-0.078922
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.018512
7,7,0,0.961081,0.830973,1.000000,1.000000,0.082907
8,8,0,0.055733,-0.872805,0.000000,0.100000,-0.087060
9,9,0,0.168708,-0.518390,0.000000,0.100000,-0.051793

In [50]:
ATAN2(df.iloc[2]['score_svm'], 10)

-0.02456512048637044

In [51]:
ATAN2(df.iloc[9]['score_svm'], 10)

-0.051792678182274475

In [52]:
ATAN2(0, 1)

0.0

In [53]:
ATAN2(0, -1)

3.141592653589793

In [54]:
ATAN2(7, 0)

1.5707963267948966

In [55]:
ATAN2(2, 1)

1.1071487177940904

In [56]:
ATAN2(-2, 1)

-1.1071487177940904

In [57]:
ATAN2(-2, -1)

-2.0344439357957027

In [58]:
ATAN2(2, -1)

2.0344439357957027

## 6. CEILING

**Описание:** 

Округляет число в большую сторону.

**Входные и выходные данные:**

На входе - число.

На выходе - входное число, округлённое в большую сторону.

### Реализация:

In [59]:
def CEILING(df, col = None):
    if col == None:
        import math
        return math.ceil(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, CEILING({col}) FROM data', conn)

 ### Тестирование:

In [60]:
CEILING(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,CEILING(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,1.0
1,1,1,0.801966,0.239511,1.000000,0.833333,1.0
2,2,0,0.382315,-0.245701,0.000000,0.000000,1.0
3,3,1,0.506797,-0.137058,0.000000,0.105263,1.0
4,4,1,0.488781,-0.154148,0.000000,0.105263,1.0
5,5,0,0.108506,-0.790864,0.000000,0.000000,1.0
6,6,0,0.413749,-0.185143,0.283053,0.363636,1.0
7,7,0,0.961081,0.830973,1.000000,1.000000,1.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,1.0
9,9,0,0.168708,-0.518390,0.000000,0.100000,1.0

In [61]:
CEILING(0.683832)

1

In [62]:
CEILING(0.961081)

1

In [63]:
CEILING(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,CEILING(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,1.0
1,1,1,0.801966,0.239511,1.000000,0.833333,1.0
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.0
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.0
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.0
5,5,0,0.108506,-0.790864,0.000000,0.000000,-0.0
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.0
7,7,0,0.961081,0.830973,1.000000,1.000000,1.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,-0.0
9,9,0,0.168708,-0.518390,0.000000,0.100000,-0.0

In [64]:
CEILING(-0.245701)

0

In [65]:
CEILING(-0.518390)

0

In [66]:
CEILING(7)

7

In [67]:
CEILING(5.8)

6

In [68]:
CEILING(3.1)

4

In [69]:
CEILING(-4.8)

-4

## 7. COS

**Описание:** 

Возвращает косинус угла. Угол указывается в радианах.

**Входные и выходные данные:**

На входе - число (угол).

На выходе - число (косинус данного угла).

### Реализация:

In [70]:
def COS(df, col = None):
    if col == None:
        import math
        return math.cos(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, COS({col}) FROM data', conn)

 ### Тестирование:

In [71]:
COS(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,COS(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.775157
1,1,1,0.801966,0.239511,1.000000,0.833333,0.695295
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.927803
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.874304
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.882906
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.994119
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.915620
7,7,0,0.961081,0.830973,1.000000,1.000000,0.572634
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.998447
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.985803

In [72]:
COS(df.iloc[0]['score_logreg'])

0.7751572837509959

In [73]:
COS(df.iloc[7]['score_logreg'])

0.572633895490653

In [74]:
COS(df, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree  COS(score_svm)
0      0     0      0.683832   0.145976   0.787063    0.500000        0.989364
1      1     1      0.801966   0.239511   1.000000    0.833333        0.971454
2      2     0      0.382315  -0.245701   0.000000    0.000000        0.969967
3      3     1      0.506797  -0.137058   0.000000    0.105263        0.990622
4      4     1      0.488781  -0.154148   0.000000    0.105263        0.988143
5      5     0      0.108506  -0.790864   0.000000    0.000000        0.703231
6      6     0      0.413749  -0.185143   0.283053    0.363636        0.982910
7      7     0      0.961081   0.830973   1.000000    1.000000        0.674157
8      8     0      0.055733  -0.872805   0.000000    0.100000        0.642680
9      9     0      0.168708  -0.518390   0.000000    0.100000        0.868618

In [75]:
COS(df.iloc[2]['score_svm'])

0.9699671448472134

In [76]:
COS(df.iloc[9]['score_svm'])

0.8686178388999501

In [77]:
import math
COS(math.pi)

-1.0

In [78]:
COS(math.pi / 3)

0.5000000000000001

In [79]:
COS(-5*math.pi / 6)

-0.8660254037844387

## 8. COT

**Описание:** 

Возвращает котангенс угла. Угол указывается в радианах.

**Входные и выходные данные:**

На входе - число (угол).

На выходе - число (котангенс данного угла).

### Реализация:

In [80]:
def COT(df, col = None):
    if col == None:
        import math
        if math.sin(df) != 0:
            return math.cos(df) / math.sin(df)
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, COS({col}) / SIN({col}) FROM data', conn)

 ### Тестирование:

In [81]:
COT(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,COS(score_logreg) / SIN(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,1.226965
1,1,1,0.801966,0.239511,1.000000,0.833333,0.967400
2,2,0,0.382315,-0.245701,0.000000,0.000000,2.486944
3,3,1,0.506797,-0.137058,0.000000,0.105263,1.801280
4,4,1,0.488781,-0.154148,0.000000,0.105263,1.880321
5,5,0,0.108506,-0.790864,0.000000,0.000000,9.179863
6,6,0,0.413749,-0.185143,0.283053,0.363636,2.277408
7,7,0,0.961081,0.830973,1.000000,1.000000,0.698495
8,8,0,0.055733,-0.872805,0.000000,0.100000,17.924236
9,9,0,0.168708,-0.518390,0.000000,0.100000,5.871054

In [82]:
COT(df.iloc[0]['score_logreg'])

1.226964510888565

In [83]:
COT(df.iloc[7]['score_logreg'])

0.6984948336693159

In [84]:
COT(df, 'score_knn')

,index,true,score_logreg,score_svm,score_knn,score_tree,COS(score_knn) / SIN(score_knn)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.996677
1,1,1,0.801966,0.239511,1.000000,0.833333,0.642093
2,2,0,0.382315,-0.245701,0.000000,0.000000,NaN
3,3,1,0.506797,-0.137058,0.000000,0.105263,NaN
4,4,1,0.488781,-0.154148,0.000000,0.105263,NaN
5,5,0,0.108506,-0.790864,0.000000,0.000000,NaN
6,6,0,0.413749,-0.185143,0.283053,0.363636,3.438055
7,7,0,0.961081,0.830973,1.000000,1.000000,0.642093
8,8,0,0.055733,-0.872805,0.000000,0.100000,NaN
9,9,0,0.168708,-0.518390,0.000000,0.100000,NaN

In [85]:
COT(0)

nan

In [86]:
COT(df.iloc[6]['score_knn'])

3.4380547504610757

In [87]:
COT(math.pi / 4)

1.0000000000000002

In [88]:
COT(math.pi / 2)

6.123233995736766e-17

In [89]:
COT(2 * math.pi)

-4082809838298842.5

In [90]:
COT(1)

0.6420926159343308

## 9. DEGREES

**Описание:** 

Преобразует число из радианов в градусы.

**Входные и выходные данные:**

На входе - число (угол в радианах).

На выходе - число (угол в градусах).

### Реализация:

In [91]:
def DEGREES(df, col = None): 
    if col == None:          
        import math         
        return math.degrees(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, DEGREES({col}) FROM data', conn)

 ### Тестирование:

In [92]:
DEGREES(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,DEGREES(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,39.180705
1,1,1,0.801966,0.239511,1.000000,0.833333,45.949295
2,2,0,0.382315,-0.245701,0.000000,0.000000,21.905057
3,3,1,0.506797,-0.137058,0.000000,0.105263,29.037323
4,4,1,0.488781,-0.154148,0.000000,0.105263,28.005116
5,5,0,0.108506,-0.790864,0.000000,0.000000,6.216949
6,6,0,0.413749,-0.185143,0.283053,0.363636,23.706070
7,7,0,0.961081,0.830973,1.000000,1.000000,55.065900
8,8,0,0.055733,-0.872805,0.000000,0.100000,3.193243
9,9,0,0.168708,-0.518390,0.000000,0.100000,9.666263

In [93]:
DEGREES(df.iloc[0]['score_logreg'])

39.180705363044474

In [94]:
DEGREES(df.iloc[7]['score_logreg'])

55.065899717019796

In [95]:
DEGREES(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,DEGREES(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,8.363803
1,1,1,0.801966,0.239511,1.000000,0.833333,13.722990
2,2,0,0.382315,-0.245701,0.000000,0.000000,-14.077609
3,3,1,0.506797,-0.137058,0.000000,0.105263,-7.852871
4,4,1,0.488781,-0.154148,0.000000,0.105263,-8.832054
5,5,0,0.108506,-0.790864,0.000000,0.000000,-45.313167
6,6,0,0.413749,-0.185143,0.283053,0.363636,-10.607886
7,7,0,0.961081,0.830973,1.000000,1.000000,47.611259
8,8,0,0.055733,-0.872805,0.000000,0.100000,-50.008052
9,9,0,0.168708,-0.518390,0.000000,0.100000,-29.701581

In [96]:
DEGREES(df.iloc[2]['score_svm'])

-14.077609073198785

In [97]:
DEGREES(df.iloc[9]['score_svm'])

-29.70158142690057

In [98]:
DEGREES(math.pi)

180.0

In [99]:
DEGREES(-math.pi/6)

-29.999999999999996

In [100]:
DEGREES(1.7542)

100.50825642184901

In [101]:
DEGREES(0)

0.0

## 10. DIV

**Описание:** 

Возвращает целую часть от деления.

**Входные и выходные данные:**

На входе - два числа.

На выходе - число (целая часть от деления первого числа на второе).

### Реализация:

In [102]:
def DIV(df, col1, col2 = None): 
    if col2 == None: 
        if col1 != 0:
            return df // col1
        import math
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, FLOOR({col1} / {col2}) FROM data', conn)

 ### Тестирование:

In [103]:
DIV(df, 'score_logreg', 'score_knn')

,index,true,score_logreg,score_svm,score_knn,score_tree,FLOOR(score_logreg / score_knn)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.0
1,1,1,0.801966,0.239511,1.000000,0.833333,0.0
2,2,0,0.382315,-0.245701,0.000000,0.000000,NaN
3,3,1,0.506797,-0.137058,0.000000,0.105263,NaN
4,4,1,0.488781,-0.154148,0.000000,0.105263,NaN
5,5,0,0.108506,-0.790864,0.000000,0.000000,NaN
6,6,0,0.413749,-0.185143,0.283053,0.363636,1.0
7,7,0,0.961081,0.830973,1.000000,1.000000,0.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,NaN
9,9,0,0.168708,-0.518390,0.000000,0.100000,NaN

In [104]:
DIV(0.413749, 0.283053)

1.0

In [105]:
DIV(0.683832, 0.787063)

0.0

In [106]:
DIV(df, 2, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,FLOOR(2 / score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,2.0
1,1,1,0.801966,0.239511,1.000000,0.833333,2.0
2,2,0,0.382315,-0.245701,0.000000,0.000000,5.0
3,3,1,0.506797,-0.137058,0.000000,0.105263,3.0
4,4,1,0.488781,-0.154148,0.000000,0.105263,4.0
5,5,0,0.108506,-0.790864,0.000000,0.000000,18.0
6,6,0,0.413749,-0.185143,0.283053,0.363636,4.0
7,7,0,0.961081,0.830973,1.000000,1.000000,2.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,35.0
9,9,0,0.168708,-0.518390,0.000000,0.100000,11.0

In [107]:
DIV(2, 0.382315)

5.0

In [108]:
DIV(2, 0.055733)

35.0

In [109]:
DIV(0.382315, 0)

nan

In [110]:
DIV(df, 'true', 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,FLOOR(true / score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.0
1,1,1,0.801966,0.239511,1.000000,0.833333,4.0
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.0
3,3,1,0.506797,-0.137058,0.000000,0.105263,-8.0
4,4,1,0.488781,-0.154148,0.000000,0.105263,-7.0
5,5,0,0.108506,-0.790864,0.000000,0.000000,-0.0
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.0
7,7,0,0.961081,0.830973,1.000000,1.000000,0.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,-0.0
9,9,0,0.168708,-0.518390,0.000000,0.100000,-0.0

In [111]:
DIV(1, 0.239511)

4.0

In [112]:
DIV(1, -0.154148)

-7.0

In [113]:
DIV(6,8)

0

In [114]:
DIV(10, 4)

2

In [115]:
DIV(-7, 2)

-4

In [116]:
DIV(7, -2)

-4

## 11. EXP

**Описание:** 

Возводит e в указанную степень.

**Входные и выходные данные:**

На входе - число (степень).

На выходе - число (экспонента в степени этого числа).

### Реализация:

In [117]:
def EXP(df, col = None): 
    if col == None: 
        import math
        return math.exp(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, EXP({col}) FROM data', conn)

 ### Тестирование:

In [118]:
EXP(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,EXP(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,1.981457
1,1,1,0.801966,0.239511,1.000000,0.833333,2.229922
2,2,0,0.382315,-0.245701,0.000000,0.000000,1.465674
3,3,1,0.506797,-0.137058,0.000000,0.105263,1.659966
4,4,1,0.488781,-0.154148,0.000000,0.105263,1.630328
5,5,0,0.108506,-0.790864,0.000000,0.000000,1.114612
6,6,0,0.413749,-0.185143,0.283053,0.363636,1.512477
7,7,0,0.961081,0.830973,1.000000,1.000000,2.614522
8,8,0,0.055733,-0.872805,0.000000,0.100000,1.057315
9,9,0,0.168708,-0.518390,0.000000,0.100000,1.183775

In [119]:
EXP(df.iloc[0]['score_logreg'])

1.9814567605564046

In [120]:
EXP(df.iloc[7]['score_logreg'])

2.6145219121874614

In [121]:
EXP(df, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree  EXP(score_svm)
0      0     0      0.683832   0.145976   0.787063    0.500000        1.157168
1      1     1      0.801966   0.239511   1.000000    0.833333        1.270628
2      2     0      0.382315  -0.245701   0.000000    0.000000        0.782156
3      3     1      0.506797  -0.137058   0.000000    0.105263        0.871919
4      4     1      0.488781  -0.154148   0.000000    0.105263        0.857145
5      5     0      0.108506  -0.790864   0.000000    0.000000        0.453453
6      6     0      0.413749  -0.185143   0.283053    0.363636        0.830986
7      7     0      0.961081   0.830973   1.000000    1.000000        2.295552
8      8     0      0.055733  -0.872805   0.000000    0.100000        0.417778
9      9     0      0.168708  -0.518390   0.000000    0.100000        0.595478

In [122]:
EXP(df.iloc[2]['score_svm'])

0.7821563447001472

In [123]:
EXP(df.iloc[9]['score_svm'])

0.595478265383977

In [124]:
EXP(0)

1.0

In [125]:
EXP(1)

2.718281828459045

In [126]:
EXP(2)

7.38905609893065

In [127]:
EXP(-1)

0.36787944117144233

## 12. FLOOR

**Описание:** 

Округляет до ближайшего целого числа.

**Входные и выходные данные:**

На входе - число.

На выходе - входное число, округлённое до ближайшего целового.

### Реализация:

In [128]:
def FLOOR(df, col = None): 
    if col == None: 
        import math
        return math.floor(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, FLOOR({col}) FROM data', conn)

### Тестирование:

In [129]:
FLOOR(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,FLOOR(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.0
1,1,1,0.801966,0.239511,1.000000,0.833333,0.0
2,2,0,0.382315,-0.245701,0.000000,0.000000,-1.0
3,3,1,0.506797,-0.137058,0.000000,0.105263,-1.0
4,4,1,0.488781,-0.154148,0.000000,0.105263,-1.0
5,5,0,0.108506,-0.790864,0.000000,0.000000,-1.0
6,6,0,0.413749,-0.185143,0.283053,0.363636,-1.0
7,7,0,0.961081,0.830973,1.000000,1.000000,0.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,-1.0
9,9,0,0.168708,-0.518390,0.000000,0.100000,-1.0

In [130]:
FLOOR(-0.245701)

-1

In [131]:
FLOOR(0.830973)

0

In [132]:
FLOOR(3.1)

3

In [133]:
FLOOR(8.5)

8

In [134]:
FLOOR(-0.4)

-1

In [135]:
FLOOR(6.7)

6

## 15. LN

**Описание:** 

Возвращает натуральный логарифм числа. Если число меньше либо равно 0, возвращает None. 

**Входные и выходные данные:**

На входе - число.

На выходе - число (натуральный логарифм от этого числа).

### Реализация:

In [136]:
def LN(df, col = None): 
    if col == None: 
        import math
        if df > 0:
            return math.log(df)
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, LN({col}) FROM data', conn)

### Тестирование:

In [137]:
LN(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,LN(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,-0.380043
1,1,1,0.801966,0.239511,1.000000,0.833333,-0.220688
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.961509
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.679645
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.715840
5,5,0,0.108506,-0.790864,0.000000,0.000000,-2.220948
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.882496
7,7,0,0.961081,0.830973,1.000000,1.000000,-0.039696
8,8,0,0.055733,-0.872805,0.000000,0.100000,-2.887190
9,9,0,0.168708,-0.518390,0.000000,0.100000,-1.779585

In [138]:
LN(df.iloc[0]['score_logreg'])

-0.38004254954597827

In [139]:
LN(df.iloc[7]['score_logreg'])

-0.039696320376058435

In [140]:
LN(df, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree  LN(score_svm)
0      0     0      0.683832   0.145976   0.787063    0.500000      -1.924314
1      1     1      0.801966   0.239511   1.000000    0.833333      -1.429154
2      2     0      0.382315  -0.245701   0.000000    0.000000            NaN
3      3     1      0.506797  -0.137058   0.000000    0.105263            NaN
4      4     1      0.488781  -0.154148   0.000000    0.105263            NaN
5      5     0      0.108506  -0.790864   0.000000    0.000000            NaN
6      6     0      0.413749  -0.185143   0.283053    0.363636            NaN
7      7     0      0.961081   0.830973   1.000000    1.000000      -0.185158
8      8     0      0.055733  -0.872805   0.000000    0.100000            NaN
9      9     0      0.168708  -0.518390   0.000000    0.100000            NaN

In [141]:
LN(-0.245701)

nan

In [142]:
LN(df.iloc[0]['score_svm'])

-1.9243137927349097

In [143]:
LN(EXP(1))

1.0

In [144]:
LN(EXP(-1))

-1.0

In [145]:
LN(0)

nan

In [146]:
LN(4)

1.3862943611198906

## 16. LOG

**Описание:** 

Возвращает логарифм числа по основанию. Если основание не указано, по умолчанию используется 10. Если число меньше либо равно 0 или основание меньше либо равно 0 или основание равно 1, возвращает Nan. 

**Входные и выходные данные:**

На входе - число или два (если указано основание).

На выходе - число (логарифм от этого числа с указанным основанием или логарифм от 10 в противном случае).

### Реализация:

In [147]:
def LOG(df, col1 = 10, col2 = 10): 
    if col2 == 10 and type(col1) != str: 
        import math
        if(df > 0 and col1 > 0 and col1 != 1):
            return math.log(df, col1)
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, LN({col1}) / LN({col2}) AS LOG FROM data', conn)

### Тестирование:

In [148]:
LOG(df, 'score_logreg')

   index  true  score_logreg  score_svm  score_knn  score_tree       LOG
0      0     0      0.683832   0.145976   0.787063    0.500000 -0.165050
1      1     1      0.801966   0.239511   1.000000    0.833333 -0.095844
2      2     0      0.382315  -0.245701   0.000000    0.000000 -0.417578
3      3     1      0.506797  -0.137058   0.000000    0.105263 -0.295166
4      4     1      0.488781  -0.154148   0.000000    0.105263 -0.310885
5      5     0      0.108506  -0.790864   0.000000    0.000000 -0.964545
6      6     0      0.413749  -0.185143   0.283053    0.363636 -0.383263
7      7     0      0.961081   0.830973   1.000000    1.000000 -0.017240
8      8     0      0.055733  -0.872805   0.000000    0.100000 -1.253891
9      9     0      0.168708  -0.518390   0.000000    0.100000 -0.772864

In [149]:
LOG(df.iloc[0]['score_logreg'])

-0.16505038215626153

In [150]:
LOG(df.iloc[7]['score_logreg'])

-0.017239892891185795

In [151]:
LOG(df, 'score_svm', 5)

   index  true  score_logreg  score_svm  score_knn  score_tree       LOG
0      0     0      0.683832   0.145976   0.787063    0.500000 -1.195643
1      1     1      0.801966   0.239511   1.000000    0.833333 -0.887984
2      2     0      0.382315  -0.245701   0.000000    0.000000       NaN
3      3     1      0.506797  -0.137058   0.000000    0.105263       NaN
4      4     1      0.488781  -0.154148   0.000000    0.105263       NaN
5      5     0      0.108506  -0.790864   0.000000    0.000000       NaN
6      6     0      0.413749  -0.185143   0.283053    0.363636       NaN
7      7     0      0.961081   0.830973   1.000000    1.000000 -0.115045
8      8     0      0.055733  -0.872805   0.000000    0.100000       NaN
9      9     0      0.168708  -0.518390   0.000000    0.100000       NaN

In [152]:
LOG(-0.245701, 5)

nan

In [153]:
LOG(-0.518390, 5)

nan

In [154]:
LOG(df, 5, 'score_logreg')

   index  true  score_logreg  score_svm  score_knn  score_tree        LOG
0      0     0      0.683832   0.145976   0.787063    0.500000  -4.234889
1      1     1      0.801966   0.239511   1.000000    0.833333  -7.292805
2      2     0      0.382315  -0.245701   0.000000    0.000000  -1.673866
3      3     1      0.506797  -0.137058   0.000000    0.105263  -2.368057
4      4     1      0.488781  -0.154148   0.000000    0.105263  -2.248322
5      5     0      0.108506  -0.790864   0.000000    0.000000  -0.724663
6      6     0      0.413749  -0.185143   0.283053    0.363636  -1.823734
7      7     0      0.961081   0.830973   1.000000    1.000000 -40.543756
8      8     0      0.055733  -0.872805   0.000000    0.100000  -0.557441
9      9     0      0.168708  -0.518390   0.000000    0.100000  -0.904389

In [155]:
LOG(5, df.iloc[0]['score_logreg'])

-4.234888736423939

In [156]:
LOG(5, df.iloc[7]['score_logreg'])

-40.54375562236699

In [157]:
LOG(1)

0.0

In [158]:
LOG(100)

2.0

In [159]:
LOG(16, 2)

4.0

In [160]:
LOG(10, 0.1)

-1.0000000000000002

In [161]:
LOG(4, 1)

nan

In [162]:
LOG(-6, 9)

nan

## 17. LOG2

**Описание:** 

Возвращает логарифм числа по основанию 2. Если число меньше либо равно 0, возвращает None. 

**Входные и выходные данные:**

На входе - число.

На выходе - число (логарифм от этого числа с основанием 2).

### Реализация:

In [163]:
def LOG2(df, col = 2): 
    if type(col) == int: 
        import math
        if(df > 0):
            return math.log(df, col)
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, LOG(2, {col}) FROM data', conn)

### Тестирование:

In [164]:
LOG2(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,"LOG(2, score_logreg)"
0,0,0,0.683832,0.145976,0.787063,0.500000,-0.548286
1,1,1,0.801966,0.239511,1.000000,0.833333,-0.318386
2,2,0,0.382315,-0.245701,0.000000,0.000000,-1.387165
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.980520
4,4,1,0.488781,-0.154148,0.000000,0.105263,-1.032738
5,5,0,0.108506,-0.790864,0.000000,0.000000,-3.204150
6,6,0,0.413749,-0.185143,0.283053,0.363636,-1.273172
7,7,0,0.961081,0.830973,1.000000,1.000000,-0.057270
8,8,0,0.055733,-0.872805,0.000000,0.100000,-4.165335
9,9,0,0.168708,-0.518390,0.000000,0.100000,-2.567399

In [165]:
LOG2(df.iloc[0]['score_logreg'])

-0.548285501556781

In [166]:
LOG2(df.iloc[7]['score_logreg'])

-0.057269684548079014

In [167]:
LOG2(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,"LOG(2, score_svm)"
0,0,0,0.683832,0.145976,0.787063,0.500000,-2.776198
1,1,1,0.801966,0.239511,1.000000,0.833333,-2.061834
2,2,0,0.382315,-0.245701,0.000000,0.000000,NaN
3,3,1,0.506797,-0.137058,0.000000,0.105263,NaN
4,4,1,0.488781,-0.154148,0.000000,0.105263,NaN
5,5,0,0.108506,-0.790864,0.000000,0.000000,NaN
6,6,0,0.413749,-0.185143,0.283053,0.363636,NaN
7,7,0,0.961081,0.830973,1.000000,1.000000,-0.267126
8,8,0,0.055733,-0.872805,0.000000,0.100000,NaN
9,9,0,0.168708,-0.518390,0.000000,0.100000,NaN

In [168]:
LOG2(df.iloc[2]['score_svm'])

nan

In [169]:
LOG2(-0.518390)

nan

In [170]:
LOG2(1024)

10.0

In [171]:
LOG2(0.03125)

-5.0

In [172]:
LOG2(2**0.5)

0.5000000000000001

In [173]:
LOG2(-3)

nan

## 18. MAX

**Описание:** 

Находит наибольший элемент в предоставленных данных.

**Входные и выходные данные:**

На входе - набор данных.

На выходе - максимальный элемент из них.

### Реализация:

In [174]:
def MAX(df, col1, col2 = None): 
    import datetime
    if type(df) in [int, float, str, datetime.date, datetime.datetime]: 
        return max(df, col1)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    if(col2 == None):
        return pd.read_sql(f'SELECT *, MAX({col1}) FROM data', conn)
    return pd.read_sql(f'SELECT *, MAX({col1}, {col2}) FROM data', conn)

 ### Тестирование:

In [175]:
MAX(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,MAX(score_logreg)
0,7,0,0.961081,0.830973,1.0,1.0,0.961081

In [176]:
MAX(df, 'score_logreg', 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,"MAX(score_logreg, score_svm)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.683832
1,1,1,0.801966,0.239511,1.000000,0.833333,0.801966
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.382315
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.506797
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.488781
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.108506
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.413749
7,7,0,0.961081,0.830973,1.000000,1.000000,0.961081
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.055733
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.168708

In [177]:
MAX(6, -5)

6

In [178]:
MAX('integer', 'float')

'integer'

In [179]:
import datetime
MAX(datetime.date(2004, 10, 17), datetime.date(2004, 11, 13))

datetime.date(2004, 11, 13)

In [180]:
import datetime
MAX(datetime.datetime(2004, 10, 17, 19, 59), datetime.datetime(2004, 10, 17, 20))

datetime.datetime(2004, 10, 17, 20, 0)

## 19. MIN

**Описание:** 

Находит наименьший элемент в предоставленных данных.

**Входные и выходные данные:**

На входе - набор данных.

На выходе - минимальный элемент из них.

### Реализация:

In [181]:
def MIN(df, col1, col2 = None): 
    import datetime
    if type(df) in [int, float, str, datetime.date, datetime.datetime]: 
        return min(df, col1)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    if(col2 == None):
        return pd.read_sql(f'SELECT *, MIN({col1}) FROM data', conn)
    return pd.read_sql(f'SELECT *, MIN({col1}, {col2}) FROM data', conn)

 ### Тестирование:

In [182]:
MIN(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,MIN(score_logreg)
0,8,0,0.055733,-0.872805,0.0,0.1,0.055733

In [183]:
MIN(df, 'score_logreg', 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,"MIN(score_logreg, score_svm)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.145976
1,1,1,0.801966,0.239511,1.000000,0.833333,0.239511
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.245701
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.137058
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.154148
5,5,0,0.108506,-0.790864,0.000000,0.000000,-0.790864
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.185143
7,7,0,0.961081,0.830973,1.000000,1.000000,0.830973
8,8,0,0.055733,-0.872805,0.000000,0.100000,-0.872805
9,9,0,0.168708,-0.518390,0.000000,0.100000,-0.518390

In [184]:
MIN(6, -5)

-5

In [185]:
MIN('integer', 'float')

'float'

In [186]:
import datetime
MIN(datetime.date(2004, 10, 17), datetime.date(2004, 11, 13))

datetime.date(2004, 10, 17)

In [187]:
import datetime
MIN(datetime.datetime(2004, 10, 17, 19, 59), datetime.datetime(2004, 10, 17, 20))

datetime.datetime(2004, 10, 17, 19, 59)

## 20. PI

**Описание:** 

Возвращает число Пи.

**Входные и выходные данные:**

На входе - ничего.

На выходе - число Пи.

### Реализация:

In [188]:
def PI(df = 0): 
    if type(df) == int: 
        import math
        return math.pi
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, PI() FROM data', conn)

### Тестирование:

In [189]:
PI(df)

   index  true  score_logreg  score_svm  score_knn  score_tree      PI()
0      0     0      0.683832   0.145976   0.787063    0.500000  3.141593
1      1     1      0.801966   0.239511   1.000000    0.833333  3.141593
2      2     0      0.382315  -0.245701   0.000000    0.000000  3.141593
3      3     1      0.506797  -0.137058   0.000000    0.105263  3.141593
4      4     1      0.488781  -0.154148   0.000000    0.105263  3.141593
5      5     0      0.108506  -0.790864   0.000000    0.000000  3.141593
6      6     0      0.413749  -0.185143   0.283053    0.363636  3.141593
7      7     0      0.961081   0.830973   1.000000    1.000000  3.141593
8      8     0      0.055733  -0.872805   0.000000    0.100000  3.141593
9      9     0      0.168708  -0.518390   0.000000    0.100000  3.141593

In [190]:
PI()

3.141592653589793

In [191]:
df['PI*score_tree'] = PI(df)['PI()'] * df['score_tree']
df

   true  score_logreg  score_svm  score_knn  score_tree  PI*score_tree
0     0      0.683832   0.145976   0.787063    0.500000       1.570796
1     1      0.801966   0.239511   1.000000    0.833333       2.617994
2     0      0.382315  -0.245701   0.000000    0.000000       0.000000
3     1      0.506797  -0.137058   0.000000    0.105263       0.330694
4     1      0.488781  -0.154148   0.000000    0.105263       0.330694
5     0      0.108506  -0.790864   0.000000    0.000000       0.000000
6     0      0.413749  -0.185143   0.283053    0.363636       1.142397
7     0      0.961081   0.830973   1.000000    1.000000       3.141593
8     0      0.055733  -0.872805   0.000000    0.100000       0.314159
9     0      0.168708  -0.518390   0.000000    0.100000       0.314159

In [192]:
df.drop('PI*score_tree', axis=1, inplace=True)

In [193]:
0.5 * PI()

1.5707963267948966

In [194]:
df.iloc[1]['score_tree'] * PI()

2.6179938779914944

## 21. POWER

**Описание:** 

Возводит число в указанную степень (power).

**Входные и выходные данные:**

На входе - два числа (число, которое возводим, и степень).

На выходе - входное число в заданной степени.

### Реализация:

In [195]:
def POWER(df, col1, col2 = None): 
    if col2 == None: 
        if (df < 0 and FLOOR(col1) != col1):
            import math
            return math.nan
        return pow(df, col1)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, CASE WHEN {col1} != 0 AND {col2} != 0 THEN POWER({col1}, {col2}) ELSE 1 END as POWER FROM data', conn)

### Тестирование:

In [196]:
POWER(df, 'score_logreg', 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree      POWER
0      0     0      0.683832   0.145976   0.787063    0.500000   0.946034
1      1     1      0.801966   0.239511   1.000000    0.833333   0.948515
2      2     0      0.382315  -0.245701   0.000000    0.000000   1.266483
3      3     1      0.506797  -0.137058   0.000000    0.105263   1.097628
4      4     1      0.488781  -0.154148   0.000000    0.105263   1.116664
5      5     0      0.108506  -0.790864   0.000000    0.000000   5.791941
6      6     0      0.413749  -0.185143   0.283053    0.363636   1.177493
7      7     0      0.961081   0.830973   1.000000    1.000000   0.967552
8      8     0      0.055733  -0.872805   0.000000    0.100000  12.428028
9      9     0      0.168708  -0.518390   0.000000    0.100000   2.515621

In [197]:
POWER(df.iloc[0]['score_logreg'], df.iloc[0]['score_svm'])

0.946033734659974

In [198]:
POWER(df.iloc[5]['score_logreg'], df.iloc[5]['score_svm'])

5.791940637985464

In [199]:
POWER(df, 'score_svm', 'score_tree')

   index  true  score_logreg  score_svm  score_knn  score_tree     POWER
0      0     0      0.683832   0.145976   0.787063    0.500000  0.382068
1      1     1      0.801966   0.239511   1.000000    0.833333  0.303929
2      2     0      0.382315  -0.245701   0.000000    0.000000  1.000000
3      3     1      0.506797  -0.137058   0.000000    0.105263       NaN
4      4     1      0.488781  -0.154148   0.000000    0.105263       NaN
5      5     0      0.108506  -0.790864   0.000000    0.000000  1.000000
6      6     0      0.413749  -0.185143   0.283053    0.363636       NaN
7      7     0      0.961081   0.830973   1.000000    1.000000  0.830973
8      8     0      0.055733  -0.872805   0.000000    0.100000       NaN
9      9     0      0.168708  -0.518390   0.000000    0.100000       NaN

In [200]:
POWER(df.iloc[2]['score_svm'], 0)

1.0

In [201]:
POWER(df.iloc[3]['score_svm'], df.iloc[3]['score_tree'])

nan

In [202]:
POWER(df, 'score_svm', -5)

   index  true  score_logreg  score_svm  score_knn  score_tree         POWER
0      0     0      0.683832   0.145976   0.787063    0.500000  15086.701866
1      1     1      0.801966   0.239511   1.000000    0.833333   1268.730547
2      2     0      0.382315  -0.245701   0.000000    0.000000  -1116.782648
3      3     1      0.506797  -0.137058   0.000000    0.105263 -20676.207330
4      4     1      0.488781  -0.154148   0.000000    0.105263 -11489.589319
5      5     0      0.108506  -0.790864   0.000000    0.000000     -3.232147
6      6     0      0.413749  -0.185143   0.283053    0.363636  -4596.940059
7      7     0      0.961081   0.830973   1.000000    1.000000      2.523858
8      8     0      0.055733  -0.872805   0.000000    0.100000     -1.974302
9      9     0      0.168708  -0.518390   0.000000    0.100000    -26.712547

In [203]:
POWER(df.iloc[3]['score_svm'], -5)

-20676.207329945628

In [204]:
POWER(df.iloc[7]['score_svm'], -5)

2.523857605909317

In [205]:
POWER(df, 10, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree     POWER
0      0     0      0.683832   0.145976   0.787063    0.500000  1.399510
1      1     1      0.801966   0.239511   1.000000    0.833333  1.735847
2      2     0      0.382315  -0.245701   0.000000    0.000000  0.567936
3      3     1      0.506797  -0.137058   0.000000    0.105263  0.729359
4      4     1      0.488781  -0.154148   0.000000    0.105263  0.701216
5      5     0      0.108506  -0.790864   0.000000    0.000000  0.161859
6      6     0      0.413749  -0.185143   0.283053    0.363636  0.652916
7      7     0      0.961081   0.830973   1.000000    1.000000  6.775997
8      8     0      0.055733  -0.872805   0.000000    0.100000  0.134028
9      9     0      0.168708  -0.518390   0.000000    0.100000  0.303117

In [206]:
POWER(10, df.iloc[3]['score_svm'])

0.7293593376381816

In [207]:
POWER(10, df.iloc[9]['score_svm'])

0.30311652333276023

In [208]:
POWER(df, 'score_tree', 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree     POWER
0      0     0      0.683832   0.145976   0.787063    0.500000  0.903768
1      1     1      0.801966   0.239511   1.000000    0.833333  0.957272
2      2     0      0.382315  -0.245701   0.000000    0.000000  1.000000
3      3     1      0.506797  -0.137058   0.000000    0.105263  1.361461
4      4     1      0.488781  -0.154148   0.000000    0.105263  1.414864
5      5     0      0.108506  -0.790864   0.000000    0.000000  1.000000
6      6     0      0.413749  -0.185143   0.283053    0.363636  1.205977
7      7     0      0.961081   0.830973   1.000000    1.000000  1.000000
8      8     0      0.055733  -0.872805   0.000000    0.100000  7.461139
9      9     0      0.168708  -0.518390   0.000000    0.100000  3.299061

In [209]:
POWER(0, 0)

1

In [210]:
POWER(-32, 0.2)

nan

In [211]:
POWER(5, 2)

25

In [212]:
POWER(36, 0.5)

6.0

In [213]:
POWER(-10, -2)

0.01

## 22. RADIANS

**Описание:** 

Преобразует число из градусов в радианы.

**Входные и выходные данные:**

На входе - число (угол в градусах).

На выходе - число (угол в радианах).

### Реализация:

In [214]:
def RADIANS(df, col = None): 
    if col == None:          
        import math         
        return math.radians(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, RADIANS({col}) FROM data', conn)

### Тестирование:

In [215]:
df['score_logreg*100'] = df['score_logreg'] * 100
df['score_tree*100'] = df['score_tree'] * 100

In [216]:
RADIANS(df, 'score_logreg*100')

,index,true,score_logreg,score_svm,score_knn,score_tree,score_logreg*100,score_tree*100,RADIANS(score_logreg*100)
0,0,0,0.683832,0.145976,0.787063,0.500000,68.383231,50.000000,1.193513
1,1,1,0.801966,0.239511,1.000000,0.833333,80.196649,83.333333,1.399696
2,2,0,0.382315,-0.245701,0.000000,0.000000,38.231536,0.000000,0.667266
3,3,1,0.506797,-0.137058,0.000000,0.105263,50.679689,10.526316,0.884527
4,4,1,0.488781,-0.154148,0.000000,0.105263,48.878149,10.526316,0.853085
5,5,0,0.108506,-0.790864,0.000000,0.000000,10.850624,0.000000,0.189379
6,6,0,0.413749,-0.185143,0.283053,0.363636,41.374898,36.363636,0.722128
7,7,0,0.961081,0.830973,1.000000,1.000000,96.108126,100.000000,1.677403
8,8,0,0.055733,-0.872805,0.000000,0.100000,5.573261,10.000000,0.097272
9,9,0,0.168708,-0.518390,0.000000,0.100000,16.870812,10.000000,0.294451

In [217]:
RADIANS(df.iloc[0]['score_logreg*100'])

1.1935125373113862

In [218]:
RADIANS(df.iloc[7]['score_logreg*100'])

1.6774032290032217

In [219]:
RADIANS(df, 'score_tree*100')

,index,true,score_logreg,score_svm,score_knn,score_tree,score_logreg*100,score_tree*100,RADIANS(score_tree*100)
0,0,0,0.683832,0.145976,0.787063,0.500000,68.383231,50.000000,0.872665
1,1,1,0.801966,0.239511,1.000000,0.833333,80.196649,83.333333,1.454441
2,2,0,0.382315,-0.245701,0.000000,0.000000,38.231536,0.000000,0.000000
3,3,1,0.506797,-0.137058,0.000000,0.105263,50.679689,10.526316,0.183719
4,4,1,0.488781,-0.154148,0.000000,0.105263,48.878149,10.526316,0.183719
5,5,0,0.108506,-0.790864,0.000000,0.000000,10.850624,0.000000,0.000000
6,6,0,0.413749,-0.185143,0.283053,0.363636,41.374898,36.363636,0.634665
7,7,0,0.961081,0.830973,1.000000,1.000000,96.108126,100.000000,1.745329
8,8,0,0.055733,-0.872805,0.000000,0.100000,5.573261,10.000000,0.174533
9,9,0,0.168708,-0.518390,0.000000,0.100000,16.870812,10.000000,0.174533

In [220]:
RADIANS(df.iloc[0]['score_tree*100'])

0.8726646259971648

In [221]:
RADIANS(df.iloc[2]['score_tree*100'])

0.0

In [222]:
df.drop(['score_logreg*100', 'score_tree*100'],axis = 1, inplace = True)

In [223]:
RADIANS(180)

3.141592653589793

In [224]:
RADIANS(360)

6.283185307179586

In [225]:
RADIANS(-45)

-0.7853981633974483

In [226]:
RADIANS(0)

0.0

## 23. ROUND

**Описание:** 

Округляет число до заданного количества значимых разрядов. Без указания разряда округляет до ближайшего целого числа.

**Входные и выходные данные:**

На входе - число.

На выходе - число после округления.

### Реализация:

In [227]:
def ROUND(df, col1 = 0, col2 = 0): 
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    if type(col1) != str:       
        return pd.read_sql(f'SELECT ROUND({df}, {col1})', conn).iloc[0][f'ROUND({df}, {col1})']
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, ROUND({col1}, {col2}) FROM data', conn)

### Тестирование:

In [228]:
ROUND(df, 'score_logreg', 4)

,index,true,score_logreg,score_svm,score_knn,score_tree,"ROUND(score_logreg, 4)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.6838
1,1,1,0.801966,0.239511,1.000000,0.833333,0.8020
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.3823
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.5068
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.4888
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.1085
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.4137
7,7,0,0.961081,0.830973,1.000000,1.000000,0.9611
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.0557
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.1687

In [229]:
ROUND(df.iloc[0]['score_logreg'], 4)

0.6838

In [230]:
ROUND(df.iloc[1]['score_logreg'], 4)

0.802

In [231]:
ROUND(df, 'score_svm', 4)

,index,true,score_logreg,score_svm,score_knn,score_tree,"ROUND(score_svm, 4)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.1460
1,1,1,0.801966,0.239511,1.000000,0.833333,0.2395
2,2,0,0.382315,-0.245701,0.000000,0.000000,-0.2457
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.1371
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.1541
5,5,0,0.108506,-0.790864,0.000000,0.000000,-0.7909
6,6,0,0.413749,-0.185143,0.283053,0.363636,-0.1851
7,7,0,0.961081,0.830973,1.000000,1.000000,0.8310
8,8,0,0.055733,-0.872805,0.000000,0.100000,-0.8728
9,9,0,0.168708,-0.518390,0.000000,0.100000,-0.5184

In [232]:
ROUND(df.iloc[2]['score_svm'], 4)

-0.2457

In [233]:
ROUND(df.iloc[3]['score_svm'], 4)

-0.1371

In [234]:
ROUND(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,"ROUND(score_svm, 0)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.0
1,1,1,0.801966,0.239511,1.000000,0.833333,0.0
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.0
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.0
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.0
5,5,0,0.108506,-0.790864,0.000000,0.000000,-1.0
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.0
7,7,0,0.961081,0.830973,1.000000,1.000000,1.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,-1.0
9,9,0,0.168708,-0.518390,0.000000,0.100000,-1.0

In [235]:
ROUND(df, 'score_svm', 'true')

,index,true,score_logreg,score_svm,score_knn,score_tree,"ROUND(score_svm, true)"
0,0,0,0.683832,0.145976,0.787063,0.500000,0.0
1,1,1,0.801966,0.239511,1.000000,0.833333,0.2
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.0
3,3,1,0.506797,-0.137058,0.000000,0.105263,-0.1
4,4,1,0.488781,-0.154148,0.000000,0.105263,-0.2
5,5,0,0.108506,-0.790864,0.000000,0.000000,-1.0
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.0
7,7,0,0.961081,0.830973,1.000000,1.000000,1.0
8,8,0,0.055733,-0.872805,0.000000,0.100000,-1.0
9,9,0,0.168708,-0.518390,0.000000,0.100000,-1.0

In [236]:
ROUND(df.iloc[3]['score_svm'], df.iloc[3]['true'])

-0.1

In [237]:
ROUND(df.iloc[9]['score_svm'], df.iloc[9]['true'])

-1.0

In [238]:
ROUND(4.5485, 3)

4.549

In [239]:
ROUND(7.8)

8.0

In [240]:
ROUND(-67.85, 1)

-67.9

In [241]:
ROUND(0.5)

1.0

In [242]:
ROUND(-7.975, 2)

-7.98

## 24. SIGN

**Описание:** 

Возвращает знак числа: -1 - если число отрицательное, 1 - если число положительное, 0 - ноль.
    
**Входные и выходные данные:**

На входе - число.

На выходе - число (знак входного числа).

### Реализация:

In [243]:
def SIGN(df, col = None): 
    if col == None:       
        import numpy
        return numpy.sign(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, SIGN({col}) FROM data', conn)

In [244]:
def sign(x):
    import numpy
    return numpy.sign(x)

### Тестирование:

In [245]:
SIGN(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,SIGN(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,1
1,1,1,0.801966,0.239511,1.000000,0.833333,1
2,2,0,0.382315,-0.245701,0.000000,0.000000,-1
3,3,1,0.506797,-0.137058,0.000000,0.105263,-1
4,4,1,0.488781,-0.154148,0.000000,0.105263,-1
5,5,0,0.108506,-0.790864,0.000000,0.000000,-1
6,6,0,0.413749,-0.185143,0.283053,0.363636,-1
7,7,0,0.961081,0.830973,1.000000,1.000000,1
8,8,0,0.055733,-0.872805,0.000000,0.100000,-1
9,9,0,0.168708,-0.518390,0.000000,0.100000,-1

In [246]:
SIGN(df.iloc[2]['score_svm'])

-1.0

In [247]:
SIGN(df.iloc[0]['score_svm'])

1.0

In [248]:
SIGN(df, 'score_knn')

,index,true,score_logreg,score_svm,score_knn,score_tree,SIGN(score_knn)
0,0,0,0.683832,0.145976,0.787063,0.500000,1
1,1,1,0.801966,0.239511,1.000000,0.833333,1
2,2,0,0.382315,-0.245701,0.000000,0.000000,0
3,3,1,0.506797,-0.137058,0.000000,0.105263,0
4,4,1,0.488781,-0.154148,0.000000,0.105263,0
5,5,0,0.108506,-0.790864,0.000000,0.000000,0
6,6,0,0.413749,-0.185143,0.283053,0.363636,1
7,7,0,0.961081,0.830973,1.000000,1.000000,1
8,8,0,0.055733,-0.872805,0.000000,0.100000,0
9,9,0,0.168708,-0.518390,0.000000,0.100000,0

In [249]:
SIGN(df.iloc[2]['score_knn'])

0.0

In [250]:
SIGN(df.iloc[6]['score_knn'])

1.0

In [251]:
SIGN(-34)

-1

In [252]:
SIGN(4)

1

In [253]:
SIGN(0)

0

## 25. SIN

**Описание:** 

Возвращает синус угла. Угол указывается в радианах.
    
**Входные и выходные данные:**

На входе - число (угол указывается в радианах).

На выходе - число (синус входного угла).

### Реализация:

In [254]:
def SIN(df, col = None):
    if col == None:
        import math
        return math.sin(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, SIN({col}) FROM data', conn)

### Тестирование:

In [255]:
SIN(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,SIN(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.631768
1,1,1,0.801966,0.239511,1.000000,0.833333,0.718725
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.373070
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.485379
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.469550
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.108293
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.402045
7,7,0,0.961081,0.830973,1.000000,1.000000,0.819811
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.055704
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.167909

In [256]:
SIN(df.iloc[0]['score_logreg'])

0.6317683004454862

In [257]:
SIN(df.iloc[7]['score_logreg'])

0.8198112110328816

In [258]:
SIN(df, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree  SIN(score_svm)
0      0     0      0.683832   0.145976   0.787063    0.500000        0.145458
1      1     1      0.801966   0.239511   1.000000    0.833333        0.237228
2      2     0      0.382315  -0.245701   0.000000    0.000000       -0.243236
3      3     1      0.506797  -0.137058   0.000000    0.105263       -0.136630
4      4     1      0.488781  -0.154148   0.000000    0.105263       -0.153539
5      5     0      0.108506  -0.790864   0.000000    0.000000       -0.710961
6      6     0      0.413749  -0.185143   0.283053    0.363636       -0.184087
7      7     0      0.961081   0.830973   1.000000    1.000000        0.738588
8      8     0      0.055733  -0.872805   0.000000    0.100000       -0.766135
9      9     0      0.168708  -0.518390   0.000000    0.100000       -0.495483

In [259]:
SIN(df.iloc[2]['score_svm'])

-0.24323597167554184

In [260]:
SIN(df.iloc[8]['score_svm'])

-0.7661347678242793

In [261]:
SIN(PI())

1.2246467991473532e-16

In [262]:
SIN(-PI()/2)

-1.0

In [263]:
SIN(PI()/6)

0.49999999999999994

In [264]:
SIN(4)

-0.7568024953079282

## 26. SQRT

**Описание:** 

Возвращает квадратный корень числа.

**Входные и выходные данные:**

На входе - число.

На выходе - квадратный корень числа.

### Реализация:

In [265]:
def SQRT(df, col = None):
    if col == None:
        import math
        if df >= 0:
            return math.sqrt(df)
        return math.nan
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, SQRT({col}) FROM data', conn)

### Тестирование:

In [266]:
SQRT(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,SQRT(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.826942
1,1,1,0.801966,0.239511,1.000000,0.833333,0.895526
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.618317
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.711897
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.699129
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.329403
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.643233
7,7,0,0.961081,0.830973,1.000000,1.000000,0.980348
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.236078
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.410741

In [267]:
SQRT(df.iloc[0]['score_logreg'])

0.8269415407626625

In [268]:
SQRT(df.iloc[7]['score_logreg'])

0.9803475177889773

In [269]:
SQRT(df, 'score_svm')

,index,true,score_logreg,score_svm,score_knn,score_tree,SQRT(score_svm)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.382068
1,1,1,0.801966,0.239511,1.000000,0.833333,0.489399
2,2,0,0.382315,-0.245701,0.000000,0.000000,NaN
3,3,1,0.506797,-0.137058,0.000000,0.105263,NaN
4,4,1,0.488781,-0.154148,0.000000,0.105263,NaN
5,5,0,0.108506,-0.790864,0.000000,0.000000,NaN
6,6,0,0.413749,-0.185143,0.283053,0.363636,NaN
7,7,0,0.961081,0.830973,1.000000,1.000000,0.911577
8,8,0,0.055733,-0.872805,0.000000,0.100000,NaN
9,9,0,0.168708,-0.518390,0.000000,0.100000,NaN

In [270]:
SQRT(df.iloc[2]['score_svm'])

nan

In [271]:
SQRT(df.iloc[9]['score_svm'])

nan

In [272]:
SQRT(4)

2.0

In [273]:
SQRT(168)

12.96148139681572

In [274]:
SQRT(0)

0.0

In [275]:
SQRT(-8)

nan

## 27. SQUARE

**Описание:** 

Возвращает квадрат числа.

**Входные и выходные данные:**

На входе - число.

На выходе - квадрат числа.

### Реализация:

In [276]:
def SQUARE(df, col = None):
    if col == None:
        return df ** 2
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, POWER({col}, 2) as SQUARE FROM data', conn)

### Тестирование:

In [277]:
SQUARE(df, 'score_logreg')

   index  true  score_logreg  score_svm  score_knn  score_tree    SQUARE
0      0     0      0.683832   0.145976   0.787063    0.500000  0.467627
1      1     1      0.801966   0.239511   1.000000    0.833333  0.643150
2      2     0      0.382315  -0.245701   0.000000    0.000000  0.146165
3      3     1      0.506797  -0.137058   0.000000    0.105263  0.256843
4      4     1      0.488781  -0.154148   0.000000    0.105263  0.238907
5      5     0      0.108506  -0.790864   0.000000    0.000000  0.011774
6      6     0      0.413749  -0.185143   0.283053    0.363636  0.171188
7      7     0      0.961081   0.830973   1.000000    1.000000  0.923677
8      8     0      0.055733  -0.872805   0.000000    0.100000  0.003106
9      9     0      0.168708  -0.518390   0.000000    0.100000  0.028462

In [278]:
SQUARE(df.iloc[0]['score_logreg'])

0.46762663071497046

In [279]:
SQUARE(df.iloc[7]['score_logreg'])

0.9236771799329659

In [280]:
SQUARE(df, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree    SQUARE
0      0     0      0.683832   0.145976   0.787063    0.500000  0.021309
1      1     1      0.801966   0.239511   1.000000    0.833333  0.057366
2      2     0      0.382315  -0.245701   0.000000    0.000000  0.060369
3      3     1      0.506797  -0.137058   0.000000    0.105263  0.018785
4      4     1      0.488781  -0.154148   0.000000    0.105263  0.023762
5      5     0      0.108506  -0.790864   0.000000    0.000000  0.625466
6      6     0      0.413749  -0.185143   0.283053    0.363636  0.034278
7      7     0      0.961081   0.830973   1.000000    1.000000  0.690516
8      8     0      0.055733  -0.872805   0.000000    0.100000  0.761789
9      9     0      0.168708  -0.518390   0.000000    0.100000  0.268729

In [281]:
SQUARE(df.iloc[2]['score_svm'])

0.060368799157799774

In [282]:
SQUARE(df.iloc[9]['score_svm'])

0.2687285953542916

In [283]:
SQUARE(5)

25

In [284]:
SQUARE(-7)

49

In [285]:
SQUARE(SQRT(7))

7.000000000000001

In [286]:
SQUARE(SQRT(56))

56.0

## 28. TAN

**Описание:** 

Возвращает тангенс угла. Угол указывается в радианах.

**Входные и выходные данные:**

На входе - число(угол в радианах).

На выходе - число(тангенс угла).

### Реализация:

In [287]:
def TAN(df, col = None):
    if col == None:
        import math
        return math.tan(df)
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, TAN({col}) FROM data', conn)

### Тестирование:

In [288]:
TAN(df, 'score_logreg')

,index,true,score_logreg,score_svm,score_knn,score_tree,TAN(score_logreg)
0,0,0,0.683832,0.145976,0.787063,0.500000,0.815019
1,1,1,0.801966,0.239511,1.000000,0.833333,1.033698
2,2,0,0.382315,-0.245701,0.000000,0.000000,0.402100
3,3,1,0.506797,-0.137058,0.000000,0.105263,0.555161
4,4,1,0.488781,-0.154148,0.000000,0.105263,0.531824
5,5,0,0.108506,-0.790864,0.000000,0.000000,0.108934
6,6,0,0.413749,-0.185143,0.283053,0.363636,0.439096
7,7,0,0.961081,0.830973,1.000000,1.000000,1.431650
8,8,0,0.055733,-0.872805,0.000000,0.100000,0.055790
9,9,0,0.168708,-0.518390,0.000000,0.100000,0.170327

In [289]:
TAN(df.iloc[0]['score_logreg'])

0.8150194982215111

In [290]:
TAN(df.iloc[7]['score_logreg'])

1.4316498158573694

In [291]:
TAN(df, 'score_svm')

   index  true  score_logreg  score_svm  score_knn  score_tree  TAN(score_svm)
0      0     0      0.683832   0.145976   0.787063    0.500000        0.147022
1      1     1      0.801966   0.239511   1.000000    0.833333        0.244199
2      2     0      0.382315  -0.245701   0.000000    0.000000       -0.250767
3      3     1      0.506797  -0.137058   0.000000    0.105263       -0.137923
4      4     1      0.488781  -0.154148   0.000000    0.105263       -0.155381
5      5     0      0.108506  -0.790864   0.000000    0.000000       -1.010992
6      6     0      0.413749  -0.185143   0.283053    0.363636       -0.187287
7      7     0      0.961081   0.830973   1.000000    1.000000        1.095572
8      8     0      0.055733  -0.872805   0.000000    0.100000       -1.192094
9      9     0      0.168708  -0.518390   0.000000    0.100000       -0.570427

In [292]:
TAN(df.iloc[2]['score_svm'])

-0.25076722749599495

In [293]:
TAN(df.iloc[9]['score_svm'])

-0.5704265112283873

In [294]:
TAN(PI()/2)

1.633123935319537e+16

In [295]:
TAN(-5*PI()/2)

-3266247870639073.5

In [296]:
TAN(0)

0.0

In [297]:
TAN(0.06)

0.06007210383129728

## 29. ZN

**Описание:** 

Возвращает выражение, если не Nan. В противном случае 0. 

**Входные и выходные данные:**

На входе - выражение.

На выходе - выражение, если Nan, в противном случае 0.

### Реализация:

In [298]:
def ZN(df, col = None):
    if col == None:
        import math
        if(type(df) != float):
            return df
        if math.isnan(df):
            return 0
    from sqlite3 import connect
    import pandas as pd
    conn = connect(':memory:')
    df.to_sql('data', conn)
    return pd.read_sql(f'SELECT *, IFNULL({col}, 0) as ZN FROM data', conn)

### Тестирование:

In [299]:
df = SQRT(df, 'score_svm')

In [300]:
ZN(df, 'SQRT(score_svm)')

,level_0,index,true,score_logreg,score_svm,score_knn,score_tree,SQRT(score_svm),ZN
0,0,0,0,0.683832,0.145976,0.787063,0.500000,0.382068,0.382068
1,1,1,1,0.801966,0.239511,1.000000,0.833333,0.489399,0.489399
2,2,2,0,0.382315,-0.245701,0.000000,0.000000,NaN,0.000000
3,3,3,1,0.506797,-0.137058,0.000000,0.105263,NaN,0.000000
4,4,4,1,0.488781,-0.154148,0.000000,0.105263,NaN,0.000000
5,5,5,0,0.108506,-0.790864,0.000000,0.000000,NaN,0.000000
6,6,6,0,0.413749,-0.185143,0.283053,0.363636,NaN,0.000000
7,7,7,0,0.961081,0.830973,1.000000,1.000000,0.911577,0.911577
8,8,8,0,0.055733,-0.872805,0.000000,0.100000,NaN,0.000000
9,9,9,0,0.168708,-0.518390,0.000000,0.100000,NaN,0.000000

In [301]:
ZN(df.iloc[0]['SQRT(score_svm)'])

0.3820679157077418

In [302]:
ZN(df.iloc[2]['SQRT(score_svm)'])

nan

In [303]:
df.drop('SQRT(score_svm)', axis = 1, inplace = True)

In [304]:
ZN(0)

0

In [305]:
ZN(11)

11

In [306]:
ZN(math.nan)

0

In [307]:
ZN(-8)

-8

In [308]:
ZN('Trivium')

'Trivium'